
.game {
  &__title {
    font-family: $thrones;
    padding: 20px 0 10px
  }

  &__underTitle {
    font-family: $thrones;
    padding: 20px 0 10px;
    font-size: 20px;
  }

  &__button {

    &--roll {
      padding: 10px 30px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
    }
  }
}
