
.lobby {
  &__title {
    font-family: $thrones;
    padding: 20px 0 10px
  }

  &__underTitle {
    font-family: $thrones;
    padding: 20px 0 10px;
    font-size: 20px;
  }

  &__button {

    &--start {
      padding: 10px 30px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
    }

    &--character {
      border: none;
      cursor: pointer;
      width: 100%;
      display: block;
      text-align:left;
      padding: 20px;
      margin-bottom: 30px;
    }
  }
}
